* {
  margin: 0;
  padding: 0;
  /* font-family: ; */
}

body {
  background-color: rgb(247, 247, 247);
  font-family: 'Poppins', sans-serif;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 30px;
}

h1 {
  font-size: 45px;
}

#startBtn {
  background-color: #BCEAD5;
}

#quizField {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 100px;
}

#quiz {
  background-color: #BCEAD5;
  padding: 50px;
  border-radius: 25px;
  min-width: 500px;
  max-width: 500px;
}

#quizQuestion{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Poppins', sans-serif;
  font-size: 25px;
}

#quizAnswers {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 35px;
}

#introduction {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  margin-top: 80px;
}

p {
  font-size: 22px;
  padding: 20px;
  line-height: 2;
  text-align: center;
}

#answerBtn:hover, #submitButton:hover, #resetGame:hover, #resetScore:hover {
  background-color: #67b692;
  color: white;
}

button {
  margin: 10px;
  padding: 10px;
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  border-radius: 10px;
  border-style: none;
  width: 250px;
}

h2 {
  font-size: 55px;
  padding: 10px;
}

h3 {
  font-size: 20px;
  padding: 15px;
}

input {
  padding: 15px;
  border: 2px solid #BCEAD5;
  border-radius: 10px;
  margin-top: 15px;
  width: 300px;
}

/* To remove a black border around input field */
input:focus{
  outline: none;
}

#submitButton {
  background-color: #BCEAD5;
  padding: 10px;
  margin-top: 25px;
}

#highscore {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 100px;
}

#resetGame, #resetScore {
  background-color: #BCEAD5;
  margin-top: 25px;
}

a {
  text-decoration: none;
}

a:visited {
  color: black;
}